### Numpy

#### Monthly deciles

1. Open the stockholm_daily_mean_temperature_1756_2017.txt file as a numpy array. Keep only the first 4 columns.
2. Iterate through the months, calculate and print out the number of the month, the first (D1) and the ninth decile (D9) of the temperatures for that particular month. Each printed row has the number of the month, the 1<sup>st</sup> decile and the 9<sup>th</sup> decile.

In [29]:
import numpy as np

data_sth = np.loadtxt('stockholm_daily_mean_temperature_1756_2017.txt')
data_sth = data_sth[:,:4]

for i in range(1,13):
    mask = (data_sth[:, 1] == i)
    dec1 = np.percentile(data_sth[mask,3],10)
    dec9 = np.percentile(data_sth[mask,3],90)
    print(f'Number of month is {i}, temperature 1st decile is {dec1:.2f}, 9th decile is {dec9:.2f}')

Number of month is 1, temperature 1st decile is -10.39, 9th decile is 2.40
Number of month is 2, temperature 1st decile is -10.50, 9th decile is 2.40
Number of month is 3, temperature 1st decile is -7.20, 9th decile is 4.20
Number of month is 4, temperature 1st decile is -0.50, 9th decile is 8.80
Number of month is 5, temperature 1st decile is 4.50, 9th decile is 14.90
Number of month is 6, temperature 1st decile is 10.40, 9th decile is 19.30
Number of month is 7, temperature 1st decile is 13.80, 9th decile is 21.50
Number of month is 8, temperature 1st decile is 12.80, 9th decile is 19.90
Number of month is 9, temperature 1st decile is 7.89, 9th decile is 15.70
Number of month is 10, temperature 1st decile is 1.90, 9th decile is 11.20
Number of month is 11, temperature 1st decile is -3.30, 9th decile is 6.70
Number of month is 12, temperature 1st decile is -7.79, 9th decile is 3.80

#### Mean temperatures in July 

Define July mean temperature as the mean of the daily averages from July  1 and 31. Calculate this July mean for each year. Create a numpy array which has all the July mean temperatures from 176 through 2017. Each row in the numpy arrays consists of two values: the year and the July mean temperature in that year.

In [48]:
years = list(range(1756,2018))
years_means = np.zeros(shape=(262,2))
for year in years:
    mask = (data_sth[:,1] == 7) & (data_sth[:,0] == year)
    years_means[year-1756,0] = year
    years_means[year-1756,1] = np.mean(data_sth[mask,3])
years_means

array([[1756.        ,   19.42580645],
       [1757.        ,   20.28387097],
       [1758.        ,   16.97741935],
       [1759.        ,   18.45806452],
       [1760.        ,   17.62580645],
       [1761.        ,   17.47419355],
       [1762.        ,   16.40967742],
       [1763.        ,   18.78387097],
       [1764.        ,   20.56774194],
       [1765.        ,   16.07096774],
       [1766.        ,   18.99032258],
       [1767.        ,   16.07741935],
       [1768.        ,   17.        ],
       [1769.        ,   16.87741935],
       [1770.        ,   17.34516129],
       [1771.        ,   17.18709677],
       [1772.        ,   17.96774194],
       [1773.        ,   19.20322581],
       [1774.        ,   19.11935484],
       [1775.        ,   20.30322581],
       [1776.        ,   19.89354839],
       [1777.        ,   15.9483871 ],
       [1778.        ,   18.87096774],
       [1779.        ,   17.45483871],
       [1780.        ,   19.18387097],
       [1781.        ,   18.11290323],
       [1782.        ,   15.83225806],
       [1783.        ,   21.21935484],
       [1784.        ,   16.46451613],
       [1785.        ,   17.46129032],
       [1786.        ,   16.69677419],
       [1787.        ,   15.88709677],
       [1788.        ,   19.73870968],
       [1789.        ,   20.90322581],
       [1790.        ,   14.58064516],
       [1791.        ,   18.79677419],
       [1792.        ,   19.40645161],
       [1793.        ,   18.56451613],
       [1794.        ,   18.78709677],
       [1795.        ,   16.78387097],
       [1796.        ,   17.3483871 ],
       [1797.        ,   17.91612903],
       [1798.        ,   19.35483871],
       [1799.        ,   16.20967742],
       [1800.        ,   15.31290323],
       [1801.        ,   18.35806452],
       [1802.        ,   14.85806452],
       [1803.        ,   17.97741935],
       [1804.        ,   19.3516129 ],
       [1805.        ,   17.62580645],
       [1806.        ,   15.35483871],
       [1807.        ,   18.53548387],
       [1808.        ,   17.63225806],
       [1809.        ,   17.52258065],
       [1810.        ,   17.9483871 ],
       [1811.        ,   20.00645161],
       [1812.        ,   14.39354839],
       [1813.        ,   17.15483871],
       [1814.        ,   19.17741935],
       [1815.        ,   15.70322581],
       [1816.        ,   18.56451613],
       [1817.        ,   17.36129032],
       [1818.        ,   20.8       ],
       [1819.        ,   20.3       ],
       [1820.        ,   16.79677419],
       [1821.        ,   14.96451613],
       [1822.        ,   17.0483871 ],
       [1823.        ,   16.83548387],
       [1824.        ,   17.36129032],
       [1825.        ,   16.1       ],
       [1826.        ,   21.06774194],
       [1827.        ,   15.85806452],
       [1828.        ,   18.54516129],
       [1829.        ,   17.51612903],
       [1830.        ,   17.86774194],
       [1831.        ,   18.68064516],
       [1832.        ,   12.9516129 ],
       [1833.        ,   15.93225806],
       [1834.        ,   19.87741935],
       [1835.        ,   16.19677419],
       [1836.        ,   15.14193548],
       [1837.        ,   14.50967742],
       [1838.        ,   16.43870968],
       [1839.        ,   18.07096774],
       [1840.        ,   15.26451613],
       [1841.        ,   14.60322581],
       [1842.        ,   14.90645161],
       [1843.        ,   17.13548387],
       [1844.        ,   14.13225806],
       [1845.        ,   17.58387097],
       [1846.        ,   18.26129032],
       [1847.        ,   15.97419355],
       [1848.        ,   16.92903226],
       [1849.        ,   15.91290323],
       [1850.        ,   17.71935484],
       [1851.        ,   16.6516129 ],
       [1852.        ,   19.75806452],
       [1853.        ,   18.87419355],
       [1854.        ,   19.66129032],
       [1855.        ,   21.42258065],
       [1856.        ,   16.4483871 ],
       [1857.        ,   16.94193548],
       [1858.        ,   19.92580645],
       [1859.        ,   17.04193548],
       [1860.        ,   16.43225806],
       [1861.        ,   18.13870968],
       [1862.        ,   14.03870968],
       [1863.        ,   14.27419355],
       [1864.        ,   15.90322581],
       [1865.        ,   18.65806452],
       [1866.        ,   14.35806452],
       [1867.        ,   14.47419355],
       [1868.        ,   18.53870968],
       [1869.        ,   15.95806452],
       [1870.        ,   17.02580645],
       [1871.        ,   16.60322581],
       [1872.        ,   18.63548387],
       [1873.        ,   18.32258065],
       [1874.        ,   17.01935484],
       [1875.        ,   17.00322581],
       [1876.        ,   17.66129032],
       [1877.        ,   16.31290323],
       [1878.        ,   14.63225806],
       [1879.        ,   16.02903226],
       [1880.        ,   17.00967742],
       [1881.        ,   15.86451613],
       [1882.        ,   17.02580645],
       [1883.        ,   17.03225806],
       [1884.        ,   16.89354839],
       [1885.        ,   16.88387097],
       [1886.        ,   16.66451613],
       [1887.        ,   17.17419355],
       [1888.        ,   15.16451613],
       [1889.        ,   15.5516129 ],
       [1890.        ,   15.10322581],
       [1891.        ,   18.19354839],
       [1892.        ,   15.21935484],
       [1893.        ,   17.0516129 ],
       [1894.        ,   17.45806452],
       [1895.        ,   15.99677419],
       [1896.        ,   19.28709677],
       [1897.        ,   17.65806452],
       [1898.        ,   15.29032258],
       [1899.        ,   19.55806452],
       [1900.        ,   17.05483871],
       [1901.        ,   21.20645161],
       [1902.        ,   13.73870968],
       [1903.        ,   16.47741935],
       [1904.        ,   15.79354839],
       [1905.        ,   16.89354839],
       [1906.        ,   17.47419355],
       [1907.        ,   14.8516129 ],
       [1908.        ,   16.11612903],
       [1909.        ,   15.38064516],
       [1910.        ,   15.06451613],
       [1911.        ,   16.2       ],
       [1912.        ,   18.40967742],
       [1913.        ,   16.37096774],
       [1914.        ,   21.0483871 ],
       [1915.        ,   16.14516129],
       [1916.        ,   16.8483871 ],
       [1917.        ,   16.22903226],
       [1918.        ,   17.1483871 ],
       [1919.        ,   17.79032258],
       [1920.        ,   17.00322581],
       [1921.        ,   15.11935484],
       [1922.        ,   15.73225806],
       [1923.        ,   17.11612903],
       [1924.        ,   16.63548387],
       [1925.        ,   19.30645161],
       [1926.        ,   18.69677419],
       [1927.        ,   19.21935484],
       [1928.        ,   14.93225806],
       [1929.        ,   15.72580645],
       [1930.        ,   18.19032258],
       [1931.        ,   16.21290323],
       [1932.        ,   18.9       ],
       [1933.        ,   18.63548387],
       [1934.        ,   16.57741935],
       [1935.        ,   17.52258065],
       [1936.        ,   19.02580645],
       [1937.        ,   18.97096774],
       [1938.        ,   17.93870968],
       [1939.        ,   18.16774194],
       [1940.        ,   18.27419355],
       [1941.        ,   20.47419355],
       [1942.        ,   16.43870968],
       [1943.        ,   17.05483871],
       [1944.        ,   19.40322581],
       [1945.        ,   19.11935484],
       [1946.        ,   18.89032258],
       [1947.        ,   19.06774194],
       [1948.        ,   18.29032258],
       [1949.        ,   17.90645161],
       [1950.        ,   16.00645161],
       [1951.        ,   16.56451613],
       [1952.        ,   16.4       ],
       [1953.        ,   17.44193548],
       [1954.        ,   16.56451613],
       [1955.        ,   19.72580645],
       [1956.        ,   16.10967742],
       [1957.        ,   17.79677419],
       [1958.        ,   16.53225806],
       [1959.        ,   19.28709677],
       [1960.        ,   16.26774194],
       [1961.        ,   15.75806452],
       [1962.        ,   14.89032258],
       [1963.        ,   17.32258065],
       [1964.        ,   16.89032258],
       [1965.        ,   14.96451613],
       [1966.        ,   18.48709677],
       [1967.        ,   18.31612903],
       [1968.        ,   16.58064516],
       [1969.        ,   18.88064516],
       [1970.        ,   15.98709677],
       [1971.        ,   17.69032258],
       [1972.        ,   20.21612903],
       [1973.        ,   20.14516129],
       [1974.        ,   15.5516129 ],
       [1975.        ,   19.41290323],
       [1976.        ,   17.6       ],
       [1977.        ,   14.4483871 ],
       [1978.        ,   15.81935484],
       [1979.        ,   15.09677419],
       [1980.        ,   17.76451613],
       [1981.        ,   17.38709677],
       [1982.        ,   18.4       ],
       [1983.        ,   19.00967742],
       [1984.        ,   16.2516129 ],
       [1985.        ,   16.91935484],
       [1986.        ,   17.3       ],
       [1987.        ,   16.42580645],
       [1988.        ,   18.21290323],
       [1989.        ,   18.37096774],
       [1990.        ,   16.10645161],
       [1991.        ,   18.8516129 ],
       [1992.        ,   17.91290323],
       [1993.        ,   16.67741935],
       [1994.        ,   21.53225806],
       [1995.        ,   17.97741935],
       [1996.        ,   16.08387097],
       [1997.        ,   19.57741935],
       [1998.        ,   16.45806452],
       [1999.        ,   20.20967742],
       [2000.        ,   16.23870968],
       [2001.        ,   19.98709677],
       [2002.        ,   19.20967742],
       [2003.        ,   20.6483871 ],
       [2004.        ,   17.06451613],
       [2005.        ,   19.42903226],
       [2006.        ,   20.79354839],
       [2007.        ,   17.04193548],
       [2008.        ,   18.8       ],
       [2009.        ,   17.80322581],
       [2010.        ,   21.22903226],
       [2011.        ,   19.42580645],
       [2012.        ,   17.7516129 ],
       [2013.        ,   18.3516129 ],
       [2014.        ,   20.70967742],
       [2015.        ,   17.01290323],
       [2016.        ,   18.96129032],
       [2017.        ,   17.35483871]])

### Pandas and UDFs

#### Titanic

Look at the *is_english()* function in Class 4. Redefine the function so that it handles missing data without casting it into string. Hint: use an exception.

In [58]:
import pandas as pd
data_titanic = pd.read_csv('titanic.csv')

def is_english(value):
    """
    Checks if the string 'England' is present in the given input.

    Args:
        value (str): The input value to be checked for the presence of the word 'England'.

    Returns:
        int: Returns 1 if 'England' is found in the input, otherwise returns 0. If an error occurs (e.g., value is not a string), it returns 0.

    Note:
        The function uses a broad exception handler to catch any errors, such as passing a non-string type to the function.
    """
    try:
        if 'England' in value:
            return 1
        else:
            return 0
    except:
        return 0

data_titanic['Is_English'] = data_titanic.Hometown.apply(is_english)
data_titanic['Is_English'].sum()

Help on function is_english in module __main__:

is_english(value)
    Checks if the string 'England' is present in the given input.

    Args:
        value (str): The input value to be checked for the presence of the word 'England'.

    Returns:
        int: Returns 1 if 'England' is found in the input, otherwise returns 0. If an error occurs (e.g., value is not a string), it returns 0.

    Note:
        The function uses a broad exception handler to catch any errors, such as passing a non-string type to the function.

318

Create a column which indicates whether 'Master', 'Colonel', or 'Count' is in the person's name. Call this column 'Is_fancy_title'. Make sure you handle possible missing data.

In [104]:
def is_fancy_title(value):
    """
    Determines if the given input contains a fancy title such as 'Master', 'Colonel', or 'Count'.

    Args:
        value (str or any type): The input to be checked, which is converted to a string.

    Returns:
        int: Returns 1 if any of the titles ('Master', 'Colonel', or 'Count') are found in the string, otherwise returns 0.
    
    Note:
        The function converts the input to a string before performing the check.
    """
    value = str(value)
    if 'Master' in value or 'Colonel' in value or 'Count' in value:
        return 1
    else:
        return 0
data_titanic['Is_fancy_title'] = data_titanic.Name.apply(is_fancy_title) + data_titanic.Name_wiki.apply(is_fancy_title) > 0
data_titanic['Is_fancy_title'].sum()

68

#### Hitters

Open the *hitters.csv* file as a DataFrame. This is a classic dataset on baseball players statistics. Column description can be found here: https://vincentarelbundock.github.io/Rdatasets/doc/ISLR/Hitters.html.

Create new column called *Seniority*. If the player has played less then 6 years then he is considered to be 'junior'. Players with years between 6 and 15 are 'senior', and those above 15 are 'veteran'.

In [123]:
hitters = pd.read_csv('hitters.csv')
hitters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 21 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   rownames   322 non-null    object
 1   AtBat      322 non-null    int64
 2   Hits       322 non-null    int64
 3   HmRun      322 non-null    int64
 4   Runs       322 non-null    int64
 5   RBI        322 non-null    int64
 6   Walks      322 non-null    int64
 7   Years      322 non-null    int64
 8   CAtBat     322 non-null    int64
 9   CHits      322 non-null    int64
 10  CHmRun     322 non-null    int64
 11  CRuns      322 non-null    int64
 12  CRBI       322 non-null    int64
 13  CWalks     322 non-null    int64
 14  League     322 non-null    object
 15  Division   322 non-null    object
 16  PutOuts    322 non-null    int64
 17  Assists    322 non-null    int64
 18  Errors     322 non-null    int64
 19  Salary     263 non-null    float64
 20  NewLeague  322 non-null    object
dtypes: float64(1), int64(16), object(4)
memory usage: 53.0+ KB

In [126]:
def assign_seniority(years):
    if years < 6:
        return 'Junior'
    elif years <= 15:
        return 'Senior'
    else:
        return 'Veteran'

hitters['Seniority'] = hitters.Years.apply(assign_seniority)

Show the number of players in each category. Use a built-in Pandas method.

In [129]:
hitters.Seniority.value_counts()

Seniority
Senior     154
Junior     142
Veteran     26
Name: count, dtype: int64

Calculate the average of home runs in 1986 in each seniority group.

This task requires some googling. Create a `pivot table` where rows are the league category (A or N), columns are the seniority category, and the values are the mean salary. Include row and column averages, as well as the total average in the table. Apply formatting so averages are formatted to the first decimal.