# <center><font color='magenta'>**Python for DA1**</font></center>
### <center>Central European University, 2024-2025</center>
# <center>Class 3</center>

## User-defined functions (UDFs)

A function is a block of organized, reusable code that is used to perform a single, related action. Functions provide better modularity for your application and a high degree of code reusing.

You can define functions to provide the required functionality. Here are simple rules to define a function in Python.

* Function blocks begin with the keyword ```def``` followed by the function name and parentheses ```( )```.
* Any input parameters or arguments should be placed within these parentheses. You can also define parameters inside these parentheses.
* The first statement of a function can be an optional statement - the documentation string of the function or docstring.
* The code block within every function starts with a colon (```:```) and is **indented**.
* The statement ```return``` [expression] returns a value, or a serious of values, a list, a dictionary, .... A return statement with no arguments is the same as
```python
    return None
``` 
* Nevertheless, functions do not have to close with a `return` statement.

A simple function which does not return anything.

In [70]:
def print_my_name(name):
    print(f'This is may name: {name}.')

In [72]:
print_my_name('Peter')

This is may name: Peter.

In [74]:
print_my_name(1)

This is may name: 1.

Fucntions, though, usually have some sort of return value. In addition, we can even have `type hints`. [Type hints](https://docs.python.org/3/library/typing.html) are just that: hints. The interpreter does not check the validity of the inputs so if the types are important you have to check them within your functions. Type hints are primarily for [readability and debugging](https://joshdimella.com/blog/python-typing-best-practices).

In [76]:
def divide_two_numbers(dividend: float, divisor: float) -> float:
    return dividend / divisor

In [78]:
divide_two_numbers(23, 5)

4.6

You can also add a default value to any of the inputs.

In [80]:
def divide_two_numbers(dividend: float, divisor: float = 2) -> float:
    return dividend / divisor

In [82]:
divide_two_numbers(10)

5.0

Inputs, or *arguments* can be of two types:
- **positional arguments**: you only provide the input values when calling the function, all in the order of the function definition.

In [84]:
divide_two_numbers(20, 5)

4.0

- **keyword arguments**: you provide them using the argument names; in this case the order does not matter

In [86]:
divide_two_numbers(divisor = 5, dividend = 20) # the input order is switched but the function produces the right result

4.0

Additional considerations. 
1. You can return more than one objects.
2. You need to get used to adding correct documentation to your function. For documentation standards please read [this article](https://www.datacamp.com/tutorial/docstrings-python). It used to be a pain for most developers but the good news is that most coding LLM services will take for it for you.

In [88]:
from typing import Tuple # our function returns two objects as a tuple
def divide_numbers(dividend: float, divisor: float) -> Tuple[float, float]:
    """
    Divide two numbers and return the quotient and remainder.

    Parameters:
    dividend (float): The number to be divided.
    divisor (float): The number by which to divide the dividend.

    Returns:
    Tuple[float, float]: A tuple containing the quotient and the remainder.
    
    Raises:
    ZeroDivisionError: If the divisor is zero.
    """
    quotient = dividend // divisor
    remainder = dividend % divisor
    
    return quotient, remainder

Once you have defined your function and added `docstrings` you can call the `help()` function to get information. 

Note: This docstring was generated through an LLM service.

In [94]:
help(divide_numbers)

Help on function divide_numbers in module __main__:

divide_numbers(dividend: float, divisor: float) -> Tuple[float, float]
    Divide two numbers and return the quotient and remainder.

    Parameters:
    dividend (float): The number to be divided.
    divisor (float): The number by which to divide the dividend.

    Returns:
    Tuple[float, float]: A tuple containing the quotient and the remainder.

    Raises:
    ZeroDivisionError: If the divisor is zero.

In [96]:
q, r = divide_numbers(25, 3)
print(q, r)

8 1

In [98]:
q, r = divide_numbers(25, 0) # you can handle this using try - except

ZeroDivisionError: integer division or modulo by zero

In [100]:
q, r = divide_numbers(10.2, 4.2)
print(q, r)

2.0 1.799999999999999

## Classes

`Object-oriented programming` (`OOP`) is a programming paradigm that uses "*objects*" to design software. It is based on several key concepts that help organize code in a way that is modular, reusable, and easier to maintain. Here are the main principles of OOP:

1. **Classes and Objects**:
   - **Class**: A blueprint or template for creating objects. It defines a set of attributes (data) and methods (functions) that the created objects will have.
   - **Object**: An instance of a class. It represents a specific implementation of the class with its own unique data.

2. **Encapsulation**:
   - This principle involves bundling the data (attributes) and methods (functions) that operate on the data into a single unit, or class. It restricts direct access to some of the object's components, which can help prevent unintended interference and misuse of the data. Access to the data is typically controlled through public methods (getters and setters).

3. **Inheritance**:
   - Inheritance allows a new class (subclass or derived class) to inherit attributes and methods from an existing class (superclass or base class). This promotes code reusability and establishes a hierarchical relationship between classes.

4. **Polymorphism**:
   - Polymorphism allows methods to do different things based on the object it is acting upon, even if they share the same name. This can be achieved through method overriding (where a subclass provides a specific implementation of a method that is already defined in its superclass) and method overloading (where multiple methods have the same name but differ in parameters).

5. **Abstraction**:
   - Abstraction is the concept of hiding the complex implementation details and showing only the essential features of the object. This simplifies the interaction with the object and reduces complexity.

OOP is widely used in many programming languages, including Python, Java, C++, and C#. It helps in building scalable and maintainable software systems by promoting a clear structure and organization of code.

**OOP vs  Procedural Programming**

- Procedural programming
    - code as a sequence of steps
    - great for data analyis and short scripts
- Object-oriented programming
    - code as *interactions* of objects
    - great for building frameworks and tools
    - *maintainable and reusable code*

Classes are the key features of object-oriented programming. A `class` is a structure for representing an object and the operations that can be performed on the object. 

A class is defined with the `class` keyword and defines the *class attributes* (variables) and the *class methods* (functions). Class names are defined with `CamelCase`, functions and attributes with `lower_snake_case` as a PEP8 convention.

- Each class should have a `self` argument as a self-reference of the actual *instance* of the object.
- Some class methods have special meaning.   
      - `__init__()`: it is a `constructor` that assigns the initial mandatory attributes at the moment when the object is created.   
      - `__str__()`: it defines the *string representation* of the object, for instance when it is printed.
      - `__repr__()`: is almost the same as `__str__()`, still a little different; it's the printable representation of the object.

### Defining classes, class methods and class attributes

In [102]:
import math

In [104]:
class Triangle:
    
    def __init__(self, a: float, b: float, c: float):
        self.a = a
        self.b = b
        self.c = c
        self.area = self.calculate_area()

    def calculate_area(self):
        s = (self.a + self.b + self.c) / 2
        area = math.sqrt(s * (s - self.a) * (s - self.b) * (s - self.c))
        return area

    def __str__(self):
        return ('The triangle has the following sides: {:,.2f}, {:,.2f}, {:,.2f}.'.format(self.a, self.b, self.c))

In [106]:
my_triangle = Triangle(3,4,5)

The cells above *instantiates* a Triangle object. my_triangle is an *instance* of the Triangle class.

In [108]:
my_triangle.area

6.0

In [110]:
my_triangle.calculate_area()

6.0

In [112]:
print(my_triangle)

The triangle has the following sides: 3.00, 4.00, 5.00.

Note: you can use `import math` in the class definition as well, but it is generally recommended to place all import statements at the top of your Python file. This is a common practice for several reasons:

1. **Readability**: Having all imports at the top makes it easier for someone reading the code to see which modules are being used without having to search through the class definitions.

2. **Performance**: Importing modules at the top of the file ensures that they are loaded once when the module is first imported, rather than potentially being imported multiple times if the class is instantiated multiple times.

3. **Convention**: Following the convention of placing imports at the top of the file aligns wit[h the PEP 8 style](https://peps.python.org/pep-0008/) guide for Python code, which promotes consistency and readability.

However, if you have a specific reason to import a module within a class (for example, if the import is only needed in that class and you want to limit the scope), you can do so. Just keep in mind that it may not be the best practice in most cases.

### Polymorphism

In [114]:
class Square:

    """
    A class to represent a square.

    Attributes
    ----------
    a : float
        The length of the side of the square.
    area : float
        The area of the square, calculated upon initialization.

    Methods
    -------
    calculate_area():
        Calculates and returns the area of the square.
    """
    
    def __init__(self, a: float):
        self.a = a
        self.area = self.calculate_area()

    def calculate_area(self):
        area = self.a * self.a
        return area

In [116]:
my_square = Square(7)
my_square.area

49

In [118]:
my_square.calculate_area()

49

In [120]:
# We did not define a string representation for a Square object. 
print(my_square)

<__main__.Square object at 0x0000018007015C40>

In [122]:
my_square

### Check the validity of object definition using an Exception

Create a custom Exception using `class inheritance` based on the `Exception` class.

In [124]:
class TriangleError(Exception): # now the interpreter knows that 'TriangleError' is an exception
    pass

We defined the *TriangleError* class as the the child class of the *Exception* class.

In [126]:
import math
class Triangle:
    
    def __init__(self, a: float, b: float, c: float):
        if a + b > c and b + c > a and c + a > b:
            self.a = a
            self.b = b
            self.c = c
            self.area = self.calculate_area()
        else:
            raise TriangleError('Invalid triangle sides: any side should be smaller than the sum of the other two.')

    def calculate_area(self):
        s = (self.a + self.b + self.c) / 2
        area = math.sqrt(s * (s - self.a) * (s - self.b) * (s - self.c))
        return area

    def __str__(self):
        return ('The triangle has the following sides: {:,.2f}, {:,.2f}, {:,.2f}.'.format(self.a, self.b, self.c))

In [128]:
your_triangle = Triangle(3, 4, 10)

TriangleError: Invalid triangle sides: any side should be smaller than the sum of the other two.

We can even catch these defined arrors

In [130]:
a, b, c = 3, 4, 15

try: 
    your_triangle = Triangle(a, b, c)
except TriangleError:
    print('Invalid triangle, redefining triangle using the shortest side only.')
    side = min(a, b, c)
    your_triangle = Triangle(side, side, side)

Invalid triangle, redefining triangle using the shortest side only.

In [132]:
print(your_triangle)

The triangle has the following sides: 3.00, 3.00, 3.00.

In [134]:
# get attribute of an object contains its attributes and their values
your_triangle.__dict__

{'a': 3, 'b': 3, 'c': 3, 'area': 3.897114317029974}

In [136]:
# returning all attributes and methods of an object (including magic methods)
dir(your_triangle)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'a',
 'area',
 'b',
 'c',
 'calculate_area']

### Comparison: `overloading` the comparison operators

- `__eq__()` is called when to objects are compared using `==`
- accepts two arguments: `self` and `other`
- returns a Boolean

In [138]:
class Rectangle:
    
    def __init__(self, a: float, b: float):
        self.a = a
        self.b = b
        self.area = self.calculate_area()

    def calculate_area(self):
        area = self.a * self.b
        return area

    def __eq__(self, other):
        return self.area == other.area

In [140]:
rectangle_1 = Rectangle(4,5)
rectangle_1.area

20

In [142]:
rectangle_2 = Rectangle(2,10)
rectangle_2.area

20

In [144]:
rectangle_1 == rectangle_2

True

Check out all the comparisons and other [special methods](https://docs.python.org/2/reference/datamodel.html#special-method-names) in the documentation.

#### Class attributes

These are data shared among all instances of a class. We define them in the body of a class.

In [146]:
class Employee:
    # Class attributes
    MIN_SALARY = 30_000

    def __init__(self, first_name: str, last_name: str, salary: float):
        self.first_name = first_name
        self.last_name = last_name
        if salary >= Employee.MIN_SALARY:
            self.salary = salary
        else:
            self.salary = Employee.MIN_SALARY

    # Redefine/overload how the object itself printed to the console.
    def __repr__(self):
        return f"Employee('{self.last_name}, {self.first_name}', {self.salary})"

In [150]:
emp1 = Employee('Margaret', 'Mitchell', 25_000)
emp2 = Employee('Jean', 'Austen', 35_000)

In [152]:
emp1

Employee('Mitchell, Margaret', 30000)

In [154]:
emp2

Employee('Austen, Jean', 35000)

In [156]:
emp2.salary

35000

#### `Encapsulation`: private and public variables

In [158]:
# problem
emp1.salary = 25_000 # lower than MIN_SALARY
emp1

Employee('Mitchell, Margaret', 25000)

We are using *underscores* and `decorators` to manage *data access*. For the role of underscores read [this article](https://www.datacamp.com/tutorial/role-underscore-python). Python decorators are a bit more complicated concept. A good way to start is [here](https://www.freecodecamp.org/news/python-decorators-explained-with-examples/)

In [160]:
class Employee:
    # Class attributes
    MIN_SALARY = 30_000

    def __init__(self, first_name: str, last_name: str, new_salary: float):
        self.first_name = first_name
        self.last_name = last_name
        if new_salary < Employee.MIN_SALARY:
            self._salary = Employee.MIN_SALARY # note the underscore in _salary
        else:
            self._salary = new_salary # salary now is an internal, 'protected' attribute

    @property 
    def salary(self): # the @property decorator on a method whose name is exactly the name of the restricted attribute
                        # returns the internal attribute
                        # it is defined as a function but behaves like an attribute
        return self._salary
        
    # Redefine/overload how the object is printed to the console.
    def __repr__(self):
        return f"Employee('{self.last_name}, {self.first_name}', {self._salary})"

In [162]:
emp3 = Employee('Virginia', 'Woolf', 50_000)

In [164]:
emp3

Employee('Woolf, Virginia', 50000)

In [166]:
dir(emp3)

['MIN_SALARY',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_salary',
 'first_name',
 'last_name',
 'salary']

In [168]:
emp3.salary

50000

In [170]:
emp3.salary = 32_000

AttributeError: property 'salary' of 'Employee' object has no setter

You can add a `setter` method.

In [172]:
class Employee:
    # Class attributes
    MIN_SALARY = 30_000

    def __init__(self, first_name: str, last_name: str, new_salary: float):
        self.first_name = first_name
        self.last_name = last_name
        if new_salary < Employee.MIN_SALARY:
            self._salary = Employee.MIN_SALARY
        else:
            self._salary = new_salary # salary now is an internal, 'protected' attribute

    @property 
    def salary(self): # the @property decorator on a method whose name is exactly the name of the restricted attribute
                        # returns the internal attribute
        return self._salary

    @salary.setter # now you can build additional checks in setting salary
    def salary(self, new_salary):
        if new_salary < Employee.MIN_SALARY:
            raise ValueError('Invalid salary.')
        else:
            self._salary = new_salary
        
    # Redefine/overload how the object is printed to the console.
    def __repr__(self):
        return f"Employee('{self.last_name}, {self.first_name}', {self._salary:,.0f})"

In [174]:
emp3 = Employee('Virginia', 'Woolf', 25_000)

In [176]:
emp3

Employee('Woolf, Virginia', 30,000)

In [178]:
emp3.salary = 25_000

ValueError: Invalid salary.

In [180]:
emp3

Employee('Woolf, Virginia', 30,000)

In [182]:
emp3.salary = 42_000

In [184]:
emp3

Employee('Woolf, Virginia', 42,000)

Note: Python lets you redefine the attribute even if it is defined by a classmethod at instantiation.

In [186]:
my_triangle.area = 25

In [188]:
my_triangle.area

25

## Numpy -  multidimensional data arrays
### Introduction

The `numpy` package (module) is used in almost all numerical computation using Python. It is a package that provide high-performance vector, matrix and higher-dimensional data structures for Python. It is implemented in C and Fortran so when calculations are vectorized (formulated with vectors and matrices), performance is very good. 

To use `numpy` you need to import the module, using for example:

In [190]:
import numpy as np

In the `numpy` package the terminology used for vectors, matrices and higher-dimensional data sets is *array*.

### Creating `numpy` arrays

There are a number of ways to initialize new numpy arrays, for example from

* a Python list or tuples
* using functions that are dedicated to generating numpy arrays, such as `arange`, `linspace`, etc.
* reading data from files

#### From lists

For example, to create new vector and matrix arrays from Python lists we can use the `numpy.array` function.

In [192]:
# a vector: the argument to the array function is a Python list
v = np.array([1,2,3,4])
v

array([1, 2, 3, 4])

In [194]:
# a matrix: the argument to the array function is a nested Python list
M = np.array([[1, 2], [3, 4]])
M

array([[1, 2],
       [3, 4]])

The `v` and `M` objects are both of the type `ndarray` that the `numpy` module provides.

In [196]:
type(v), type(M)

(numpy.ndarray, numpy.ndarray)

The difference between the `v` and `M` arrays is their shapes. We can get information about the shape of an array by using the `ndarray.shape` property.

**Question**: Why are $v$ lower-case and $M$ upper-case?

In [198]:
v.shape

(4,)

In [200]:
M.shape

(2, 2)

The number of elements in the array is available through the `ndarray.size` property:

In [202]:
M.size

4

In [204]:
v.flatten()

array([1, 2, 3, 4])

In [206]:
M.flatten()

array([1, 2, 3, 4])

Equivalently, we could use the function `numpy.shape` and `numpy.size`

In [208]:
np.shape(M)

(2, 2)

In [210]:
np.size(M)

4

We can also do simple mathematical operations on numpy arrays.

In [212]:
M * 4

array([[ 4,  8],
       [12, 16]])

In [214]:
M * 4 + 3

array([[ 7, 11],
       [15, 19]])

So far the `numpy.ndarray` looks awefully much like a Python list (or nested list). Why not simply use Python lists for computations instead of creating a new array type? 

There are several reasons:

* Python lists are very general. They can contain any kinds of objects. They are dynamically typed. They do not support mathematical functions such as matrix and dot multiplications, etc. Implementing such functions for Python lists would not be very efficient because of the dynamic typing.
* Numpy arrays are **statically typed** and **homogeneous**. The type of the elements is determined when the array is created.
* Numpy arrays are **MEMORY EFFICIENT AND SUPERFAST**.
* Because of the static typing, fast implementation of mathematical functions such as multiplication and addition of `numpy` arrays can be implemented in a compiled language (C and Fortran is used).

Using the `dtype` (data type) property of an `ndarray`, we can see what type the data of an array has:

In [216]:
M.dtype

dtype('int32')

We get an error if we try to assign a value of the wrong type to an element in a numpy array:

In [218]:
M[0,0] = "hello"

ValueError: invalid literal for int() with base 10: 'hello'

If we want, we can explicitly define the type of the array data when we create it, using the `dtype` keyword argument:

In [220]:
M = np.array([[1, 2], [3, 4]], dtype=complex)
M

array([[1.+0.j, 2.+0.j],
       [3.+0.j, 4.+0.j]])

In [222]:
M = np.array([[1, 2], [3, 4]], dtype=float)
M

array([[1., 2.],
       [3., 4.]])

Common data types that can be used with `dtype` are: `int`, `float`, `complex`, `bool`, `object`, etc.

We can also explicitly define the bit size of the data types, for example: `int64`, `int16`, `float128`, `complex128`.

### Using array-generating functions

For larger arrays it is inpractical to initialize the data manually, using explicit python lists. Instead we can use one of the many functions in `numpy` that generate arrays of different forms. Some of the more common are:

#### arange & linspace

In [224]:
# create a range
x = np.arange(0, 10, 1) # arguments: start, stop, step. Like the function range for lists!
x

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [226]:
x = np.arange(-1, 1, 0.1) #note that here we can use floats and non-integer steps. You could not do this with lists
x

array([-1.00000000e+00, -9.00000000e-01, -8.00000000e-01, -7.00000000e-01,
       -6.00000000e-01, -5.00000000e-01, -4.00000000e-01, -3.00000000e-01,
       -2.00000000e-01, -1.00000000e-01, -2.22044605e-16,  1.00000000e-01,
        2.00000000e-01,  3.00000000e-01,  4.00000000e-01,  5.00000000e-01,
        6.00000000e-01,  7.00000000e-01,  8.00000000e-01,  9.00000000e-01])

In [228]:
# using linspace, both end points ARE included
np.linspace(0, 10, 25)

array([ 0.        ,  0.41666667,  0.83333333,  1.25      ,  1.66666667,
        2.08333333,  2.5       ,  2.91666667,  3.33333333,  3.75      ,
        4.16666667,  4.58333333,  5.        ,  5.41666667,  5.83333333,
        6.25      ,  6.66666667,  7.08333333,  7.5       ,  7.91666667,
        8.33333333,  8.75      ,  9.16666667,  9.58333333, 10.        ])

#### random data

In [230]:
from numpy import random #numpy has also its random set of functions

Uniform random numbers in [0,1]

In [232]:
np.random.rand(100,100)

array([[1.22441209e-01, 4.24374320e-01, 8.26583666e-01, ...,
        7.00340395e-01, 1.25794294e-01, 2.32009279e-01],
       [3.03103535e-01, 5.25947986e-01, 2.41232541e-01, ...,
        1.46441566e-01, 7.89334862e-01, 6.69566239e-01],
       [6.81492907e-01, 9.23454046e-04, 3.87328316e-02, ...,
        2.50067207e-01, 2.60696582e-02, 2.13733165e-01],
       ...,
       [7.48483592e-01, 9.80930463e-01, 5.20019720e-01, ...,
        8.94692374e-01, 6.48642901e-01, 7.86968483e-02],
       [8.47504691e-01, 5.35674222e-01, 9.70250032e-01, ...,
        4.07900935e-01, 6.53362268e-01, 8.66424740e-01],
       [2.12127615e-01, 3.31690094e-01, 9.98601469e-02, ...,
        6.58587486e-01, 3.94725516e-01, 1.29660495e-01]])

<br>
 
standard normal distributed random numbers $\mu = 0$ and $\sigma^2=1$

In [234]:
np_a = np.random.randn(10000,10000)

In [236]:
np.mean(np_a)

0.00011401097450066087

In [238]:
np.var(np_a)

0.999973314148466

<br>
 
standard normal distributed random numbers  𝜇 = 1  and  $\sigma^2=1$

In [240]:
np_b = np.random.randn(5, 5) + 1
np_b

array([[-1.0679446 ,  3.27924539,  1.53713411,  0.92224262, -0.36343152],
       [ 0.94191359, -2.58829327,  1.91530115,  0.24962001,  1.71690839],
       [ 1.1778302 ,  1.60759397,  1.54966315,  1.54682775,  0.61274905],
       [ 1.36783414,  0.4523716 ,  0.8566165 ,  0.14584949,  1.87621558],
       [ 1.60916162,  0.79976985,  1.25387575,  0.37108575,  2.63948853]])

In [242]:
np.mean(np_b)

0.976385151568882

In [244]:
np.var(np_b)

1.3227605954411923

In [246]:
np_b = np.random.randn(10000,10000) + 1 # your solution goes here

In [248]:
np.mean(np_b)

1.0000079178457417

In [250]:
np.var(np_b)

1.0001598682548585

How do you make sure that noise will not make mean and variance meaningfully different from 1?

<br>
 
How do you generate an array of normally distributed random numbers where 𝜇 = 1  and  $\sigma^2=4$?

In [252]:
np_c = (4**0.5) * np.random.randn(10000,10000) + 1 # multiply by std and add mean

In [254]:
np.var(np_c)

3.9996689967219754

In [256]:
np.mean(np_c)

1.0002353045873442

### Index slicing

Index slicing is the technical name for the syntax `M[lower:upper:step]` to extract part of an array:

In [258]:
A = np.array([1,2,3,4,5])

It works in the same way as for **lists**. Refresh it (class 1)!

In [260]:
A[1:3]

array([2, 3])

Numpy arrays are **mutable**!

In [262]:
A[1:3] = [-2,-3]
A

array([ 1, -2, -3,  4,  5])

In [264]:
A[::] # lower, upper, step all take the default values

array([ 1, -2, -3,  4,  5])

In [266]:
A[::2] # step is 2, lower and upper defaults to the beginning and end of the array

array([ 1, -3,  5])

In [268]:
A[:3] # first three elements

array([ 1, -2, -3])

In [270]:
A[3:] # elements from index 3

array([4, 5])

Negative indices counts from the end of the array (positive index from the begining):

In [272]:
A[-1:]

array([5])

In [274]:
A[-2:]

array([4, 5])

Index slicing works exactly the same way for multidimensional arrays:

In [276]:
A = np.array([[n+m*10 for n in range(5)] for m in range(5)])

A

array([[ 0,  1,  2,  3,  4],
       [10, 11, 12, 13, 14],
       [20, 21, 22, 23, 24],
       [30, 31, 32, 33, 34],
       [40, 41, 42, 43, 44]])

In [278]:
# a block from the original array
A[1:5, 1:3]

array([[11, 12],
       [21, 22],
       [31, 32],
       [41, 42]])

### Fancy indexing
Fancy indexing is the name for when an array or list is used in-place of an index:

In [280]:
row_indices = [1, 2, 3]
A[row_indices,:] # this selects the second, third and fourth row of A, and all its columns

array([[10, 11, 12, 13, 14],
       [20, 21, 22, 23, 24],
       [30, 31, 32, 33, 34]])

In [282]:
A[row_indices] #this is equivalent to the expression above

array([[10, 11, 12, 13, 14],
       [20, 21, 22, 23, 24],
       [30, 31, 32, 33, 34]])

In [284]:
col_indices = [1, 2, -1] # remember, index -1 means the last element
A[row_indices, col_indices]

array([11, 22, 34])

In [286]:
different_col_indices = [1, -1, 2] 
A[row_indices, different_col_indices]

array([11, 24, 32])

### Data Processing With Numpy

In [288]:
import numpy as np
data=np.loadtxt('stockholm_daily_mean_temperature_1756_2017.txt')

In [290]:
data

array([[ 1.756e+03,  1.000e+00,  1.000e+00, ..., -8.700e+00, -8.700e+00,
         1.000e+00],
       [ 1.756e+03,  1.000e+00,  2.000e+00, ..., -9.200e+00, -9.200e+00,
         1.000e+00],
       [ 1.756e+03,  1.000e+00,  3.000e+00, ..., -8.600e+00, -8.600e+00,
         1.000e+00],
       ...,
       [ 2.017e+03,  1.200e+01,  2.900e+01, ...,  2.400e+00,  2.400e+00,
         3.000e+00],
       [ 2.017e+03,  1.200e+01,  3.000e+01, ...,  1.200e+00,  1.200e+00,
         3.000e+00],
       [ 2.017e+03,  1.200e+01,  3.100e+01, ...,  2.200e+00,  2.200e+00,
         3.000e+00]])

In [292]:
data.shape

(95694, 7)

In [294]:
data

array([[ 1.756e+03,  1.000e+00,  1.000e+00, ..., -8.700e+00, -8.700e+00,
         1.000e+00],
       [ 1.756e+03,  1.000e+00,  2.000e+00, ..., -9.200e+00, -9.200e+00,
         1.000e+00],
       [ 1.756e+03,  1.000e+00,  3.000e+00, ..., -8.600e+00, -8.600e+00,
         1.000e+00],
       ...,
       [ 2.017e+03,  1.200e+01,  2.900e+01, ...,  2.400e+00,  2.400e+00,
         3.000e+00],
       [ 2.017e+03,  1.200e+01,  3.000e+01, ...,  1.200e+00,  1.200e+00,
         3.000e+00],
       [ 2.017e+03,  1.200e+01,  3.100e+01, ...,  2.200e+00,  2.200e+00,
         3.000e+00]])

This is Stockholm weather data from 1756 through 2017. We only need to first four columns: year, month, day, average daily temperature.

In [296]:
data = data[:, 0:4] # every row, columns from index 0 to index 3

In [298]:
data.shape

(95694, 4)

Elements in a numpy arrays always have a the same data type.

In [300]:
data[0:10,]

array([[ 1.756e+03,  1.000e+00,  1.000e+00, -8.700e+00],
       [ 1.756e+03,  1.000e+00,  2.000e+00, -9.200e+00],
       [ 1.756e+03,  1.000e+00,  3.000e+00, -8.600e+00],
       [ 1.756e+03,  1.000e+00,  4.000e+00, -7.700e+00],
       [ 1.756e+03,  1.000e+00,  5.000e+00, -7.200e+00],
       [ 1.756e+03,  1.000e+00,  6.000e+00, -1.600e+00],
       [ 1.756e+03,  1.000e+00,  7.000e+00,  7.000e-01],
       [ 1.756e+03,  1.000e+00,  8.000e+00,  1.300e+00],
       [ 1.756e+03,  1.000e+00,  9.000e+00,  2.400e+00],
       [ 1.756e+03,  1.000e+00,  1.000e+01,  8.000e-01]])

To have a better view we can call the `array_repr` method for a string representation of the array.

In [302]:
np.array_repr(data[0:5,], suppress_small=True) # This will give back a string of the rows in the numpy array

'array([[1756. ,    1. ,    1. ,   -8.7],\n       [1756. ,    1. ,    2. ,   -9.2],\n       [1756. ,    1. ,    3. ,   -8.6],\n       [1756. ,    1. ,    4. ,   -7.7],\n       [1756. ,    1. ,    5. ,   -7.2]])'

In [304]:
for row in data[0:10,]:
    print(np.array_repr(row, suppress_small=True))

array([1756. ,    1. ,    1. ,   -8.7])
array([1756. ,    1. ,    2. ,   -9.2])
array([1756. ,    1. ,    3. ,   -8.6])
array([1756. ,    1. ,    4. ,   -7.7])
array([1756. ,    1. ,    5. ,   -7.2])
array([1756. ,    1. ,    6. ,   -1.6])
array([1756. ,    1. ,    7. ,    0.7])
array([1756. ,    1. ,    8. ,    1.3])
array([1756. ,    1. ,    9. ,    2.4])
array([1756. ,    1. ,   10. ,    0.8])

### Quick Stats

#### mean

In [307]:
# the temperature data is in column 3
np.mean(data[:,3])

6.12563065604949

The daily mean temperature in Stockholm over the last 250 years has been about 6.1 C.

In [309]:
# another way of getting the same mean value is using the class method on the object instance 
data[:,3].mean()

6.12563065604949

#### standard deviations and variance

In [311]:
np.std(data[:,3]), np.var(data[:,3])

(12.010007951154332, 144.24029098679026)

#### min and max

*min()* and *max()* together with many other statistical functions are ***class methods*** for any numpy arrays. It means that you can call them simply on your numpy object.

What is this??? How do you handle that?

In [313]:
# lowest daily average temperature
data[:,3].min()

-999.0

In [315]:
# highest daily average temperature
data[:,3].max()

28.3

### Masking: selecting subsets of arrays
Masking is a kind of fancy indexing.

In [317]:
mask = (data[:, 0] == 1971)
mask

array([False, False, False, ..., False, False, False])

In [319]:
data[mask].shape

(365, 4)

In [321]:
data[mask, 0] # years only

array([1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971., 1971.,
       1971., 1971., 1971., 1971., 1971.])

In [40]:
 data[mask, 3] # temperatures only

array([ -9.2,  -6.5,  -4.7,  -0.3,  -6.8, -11.6,  -1.9,   4.3,   4.6,
         5.9,   4.8,   1.9,   0.8,  -0.9,  -1.5,  -1.5,  -3.9,   2.4,
         1.3,   2. ,   2. ,   1.8,   2.5,   3.7,   4.9,   3.7,   1.7,
        -2.1,  -5.1,  -6.3,   0.2,  -2.7,  -4. ,  -0.6,   1.6,   3.4,
         2.4,  -0.4,  -1.9,  -4.8,  -1.9,   2.5,   2.4,   3.1,   2.5,
         1.7,   1.5,   0.5,   0. ,  -0.3,   0.5,   1.1,   1.1,  -2.1,
         0.6, -11.9,  -8.2,  -8.3,  -7.9,  -7.7,  -8.5, -10.8, -13.5,
        -8.6,  -5.4,  -0.5,   2.1,   0. ,  -4.6,  -3.5,  -3. ,  -0.8,
         0.4,  -0.1,   0.8,   1.6,   1.7,   1.8,   1.3,   0. ,  -2.2,
        -4.4,  -0.3,   3.6,   3.3,  -0.8,  -1.4,   1. ,  -0.5,   0.6,
         4.2,   4. ,   3.6,  -0.7,   0.1,   0.9,   2.5,   5.6,   3.7,
         4.2,   6.1,   5.8,   2.7,   2.3,   3. ,   4.6,   5.2,   6.5,
         9. ,   9.8,   7.6,   3.3,   2.1,   0.5,  -0.3,   0.1,   2.2,
         3.6,   1.2,   3.3,   6.4,   9.9,   8.5,   7.4,   9.4,  12.2,
        14.7,  13.2,  14.2,  15.8,  16.2,  14.2,  14. ,  11.9,  12.4,
        12.4,  16.2,  17.5,  14.6,  13.5,   7.7,   5.8,   4. ,   3.6,
         4.2,   6.1,  10.4,  12.6,  16.6,  19.3,  18.3,  18.6,  21.2,
        18.9,  16.4,  13.5,  13.8,  16.2,  12.2,  10.1,  11.7,  12.9,
        12.5,  13.4,  15.5,  14.7,  11.2,  13.7,  13. ,  13.1,  13.2,
        16.3,  15.6,  16. ,  15.4,  14. ,  16. ,  17.9,  15.4,  16.1,
        18.3,  16.2,  17.5,  20.5,  20.1,  22. ,  19.9,  21.1,  21.5,
        20.7,  18.9,  20.8,  20.5,  14.2,  14. ,  13.6,  13.5,  12.4,
        14.3,  14.7,  13.7,  14.1,  14.8,  16.8,  17.7,  20.2,  19.7,
        19.5,  19. ,  19. ,  18.5,  19. ,  18.1,  20.1,  21. ,  20.4,
        20.5,  20.2,  18.1,  15.5,  16.1,  16.8,  15.7,  14.1,  15.8,
        15.7,  14.7,  14.7,  15.1,  16. ,  17.6,  19. ,  17.7,  13.2,
        12.8,  15.4,  17.2,  16.9,  14.7,  14.4,  13.6,  13.1,  13.6,
        13.3,  15.1,  14.9,  13.3,  11.4,  11.3,  13. ,  12.1,  12.2,
        12.2,  11.8,  10.3,   7.7,   5.5,   7.5,   7.5,   9.8,  10.7,
        11.7,  12.3,  12.4,  14.7,  12.1,  12.4,  10.5,   8.5,   7.8,
         9. ,   9.6,  10.3,  12.8,  11.3,   8.2,   5.5,   5.1,  10. ,
        13.9,   9.3,   9.4,   8.2,  14.6,  10.7,   3.9,   2.9,   3. ,
         4.9,   6.5,   7.5,   9.6,  10.6,   8.7,   6.8,   3.4,   6. ,
         6.3,   6.4,   6.5,   9.2,   4.9,   6.5,   5.7,   7. ,  10.6,
        10.1,   5.5,   1.8,   0.4,  -2.3,   3.4,  -2.2,  -3. ,   4.6,
         0.9,   0.1,   2.1,   4.3,   5.1,  -1.7,  -5.7,  -6.9,  -6.7,
        -0.1,  -1.1,  -1.4,  -5.4,  -0.8,   1.7,   5.6,   5.6,   3.8,
         2.8,   3. ,   2. ,  -1. ,   3. ,   3.1,   4. ,   4.6,  -3. ,
        -1.9,  -0.9,  -0.8,  -1.5,  -2.1,   1.5,   2.4,   5.1,   4.5,
         4.9,   1.6,   1.9,   6.3,   3.2,   0.6,   4.8,   4. ,   6.6,
         3.7,   0.2,  -1.3,  -3.7,  -3.2])

In [323]:
print("The mean temperature in Stockholm in 1971 was " + str(np.mean(data[mask,3])))

The mean temperature in Stockholm in 1971 was 6.9301369863013695

In [325]:
print("The mean temperature in Stockholm in 1971 was {:.2f} degrees.".format(np.mean(data[mask,3])))

The mean temperature in Stockholm in 1971 was 6.93 degrees.

Get the unique values from an array

In [327]:
months = np.unique(data[:, 1]) # this wil give us the months
months

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.])

### High-performance calculations

#### Quantiles

One of numpy's main advantage to Pandas (see next time) is the high performance calculations. For instance quantiles are resource-intensive caluclations but numpy handles them smoothly.

In [330]:
np.percentile(data[:,3], 10) # 1st decile of daily temperatures in the dataset

-4.5

#### Handling outlier data

If $min$ and/or $max$ values are obviously off any meaningful range, either because of some anomaly or because of data error, we may want to use quantiles to define the 'very low' or 'very high' values.

In [332]:
np.percentile(data[:,3], 1) # how do you interpret this number?

-13.2

In [334]:
np.percentile(data[:,3], 0.1) # and this?

-19.430699999999998

#### Substituting and dropping outlier data

Find the weird observation(s), where temperature is -999, in the dataset using masking.

In [336]:
mask = (data[:, 3] == -999)
data[mask]

array([[1756.,    4.,    9., -999.],
       [1756.,    6.,    5., -999.],
       [1756.,    8.,   30., -999.],
       [1763.,    2.,   25., -999.],
       [1763.,    2.,   26., -999.],
       [1763.,    2.,   27., -999.],
       [1763.,    2.,   28., -999.]])

Substituting anomalous data with NA. Remember: numpy arrays are *mutable*!

In [338]:
data[mask, 3] = np.nan

In [340]:
data[mask]

array([[1756.,    4.,    9.,   nan],
       [1756.,    6.,    5.,   nan],
       [1756.,    8.,   30.,   nan],
       [1763.,    2.,   25.,   nan],
       [1763.,    2.,   26.,   nan],
       [1763.,    2.,   27.,   nan],
       [1763.,    2.,   28.,   nan]])

In [342]:
type(np.nan)

float

The data makes more sense this way.

In [344]:
data[:3].min()

-9.2

NaNs, however, make some other calculations, for instance percentiles, disfunctional so we'd better drop these observations.

In [346]:
data.shape

(95694, 4)

In [348]:
data = data[~ mask] # ~ stands for the complementing set (excluding the mask)

In [356]:
import scipy
scipy.stats.mode(data[:, 3])

ModeResult(mode=0.9, count=565)

In [361]:
data.shape

(95687, 4)

#### Excercise

Iterate through the months, calculate and print out the number of the month, the first (D1) and the ninth decile (D9) of the temperatures for that particular  month.

### copy and "deep copy"

To achieve high performance, assignments in Python usually do not copy the underlying objects. This is important, for example, when objects are passed between functions, to avoid an excessive amount of memory copying when it is not necessary (technical term: pass by reference).

In [365]:
A = np.array([[1, 2], [3, 4]])
A

array([[1, 2],
       [3, 4]])

In [367]:
# now B is referring to the same array data as A 
B = A
B

array([[1, 2],
       [3, 4]])

In [369]:
# changing B affects A
B[0,0] = 10
B

array([[10,  2],
       [ 3,  4]])

In [371]:
A

array([[10,  2],
       [ 3,  4]])

If we want to avoid this behavior, so that when we get a new completely independent object `B` copied from `A`, then we need to do a so-called **"deep copy"** using the function `copy`:

In [373]:
B = np.copy(A)

In [375]:
# now, if we modify B, A is not affected
B[0,0] = -5
B

array([[-5,  2],
       [ 3,  4]])

In [377]:
A

array([[10,  2],
       [ 3,  4]])

### Applying a function to a numpy array

In [379]:
theta = np.arange(-10, 10, 1)
theta

array([-10,  -9,  -8,  -7,  -6,  -5,  -4,  -3,  -2,  -1,   0,   1,   2,
         3,   4,   5,   6,   7,   8,   9])

In [381]:
theta = theta.reshape(5,4)
theta

array([[-10,  -9,  -8,  -7],
       [ -6,  -5,  -4,  -3],
       [ -2,  -1,   0,   1],
       [  2,   3,   4,   5],
       [  6,   7,   8,   9]])

When you apply an UDF, something weird happens.

In [385]:
relu = lambda x: 0 if x < 0 else x
relu(theta)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

You need to `vectorize` the function.

In [387]:
relu_v = np.vectorize(relu)

In [389]:
relu_v(theta)

array([[0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 1],
       [2, 3, 4, 5],
       [6, 7, 8, 9]])

## Linear algebra with Numpy

It goes beyond this course to delve into matrix algebra but here's a short example.

In [391]:
M = np.array([[1,2], [3,4]])
v = np.arange(2)

In [393]:
M

array([[1, 2],
       [3, 4]])

In [395]:
print(M)

[[1 2]
 [3 4]]

In [397]:
v

array([0, 1])

Define dot product as

$$
\mathbf{v} \in \mathbb{R}^n, \quad \mathbf{M} \in \mathbb{R}^{n \times n} \implies \mathbf{M} \cdot \mathbf{v} \in \mathbb{R}$$

In [399]:
np.dot(M, v)

array([2, 4])

The other way around:

$$
 \mathbf{v} \cdot \mathbf{M} \in \mathbb{R}$$

In [401]:
np.dot(v, M)

array([3, 4])

In [403]:
v = np.arange(0, 5)

In [405]:
v

array([0, 1, 2, 3, 4])

In [407]:
np.dot(v, v) # what does the dot product of a vector equal to? - sum of the squares

30

Inverting a matrix

In [409]:
from numpy.linalg import inv

In [411]:
inv(M)

array([[-2. ,  1. ],
       [ 1.5, -0.5]])

In [413]:
np_singular = np.array([[1,2], [2,4]])

In [415]:
np_singular

array([[1, 2],
       [2, 4]])

In [417]:
inv(np_singular)

LinAlgError: Singular matrix

<br> 
 
## Extra: Processing logs with Python

### A side note: regex

**Regular expressions** allow you to specify a pattern of text to search for. Also called *regexes* for short, are descriptions for a pattern of text. For example, a \d in a regex stands for a digit character—that is, any single numeral from 0 to 9.

In [ ]:
import re

In [ ]:
phoneNumRegex = re.compile(r'\d\d\d-\d\d\d-\d\d\d\d')

In [ ]:
mo = phoneNumRegex.search('My number is 415-555-4242.')
print(mo.group())

Regex is 
- very complicated
- relatively slow
- can be used to various completely unstructured text.

A quick intro to regex with examples is here [http://automatetheboringstuff.com/2e/chapter7/](http://automatetheboringstuff.com/2e/chapter7/)

### Semi-structured text

Logs are usually text messages with a limited set of row/sentence *schema*. This schema helps us process text in a way which is 
- relatively simple
- fast
- but only works with texts of known structures.

**Task: find the hosts related to  authentication failures.**

In [29]:
with open('Linux_2k.log', 'r') as f:
    logtext = f.read()

In [31]:
logtext[:500]

'Jun 14 15:16:01 combo sshd(pam_unix)[19939]: authentication failure; logname= uid=0 euid=0 tty=NODEVssh ruser= rhost=218.188.2.4 \nJun 14 15:16:02 combo sshd(pam_unix)[19937]: check pass; user unknown\nJun 14 15:16:02 combo sshd(pam_unix)[19937]: authentication failure; logname= uid=0 euid=0 tty=NODEVssh ruser= rhost=218.188.2.4 \nJun 15 02:04:59 combo sshd(pam_unix)[20882]: authentication failure; logname= uid=0 euid=0 tty=NODEVssh ruser= rhost=220-135-151-1.hinet-ip.hinet.net  user=root\nJun 15 02'

In [33]:
logtext.split('\n')[0:10]

['Jun 14 15:16:01 combo sshd(pam_unix)[19939]: authentication failure; logname= uid=0 euid=0 tty=NODEVssh ruser= rhost=218.188.2.4 ',
 'Jun 14 15:16:02 combo sshd(pam_unix)[19937]: check pass; user unknown',
 'Jun 14 15:16:02 combo sshd(pam_unix)[19937]: authentication failure; logname= uid=0 euid=0 tty=NODEVssh ruser= rhost=218.188.2.4 ',
 'Jun 15 02:04:59 combo sshd(pam_unix)[20882]: authentication failure; logname= uid=0 euid=0 tty=NODEVssh ruser= rhost=220-135-151-1.hinet-ip.hinet.net  user=root',
 'Jun 15 02:04:59 combo sshd(pam_unix)[20884]: authentication failure; logname= uid=0 euid=0 tty=NODEVssh ruser= rhost=220-135-151-1.hinet-ip.hinet.net  user=root',
 'Jun 15 02:04:59 combo sshd(pam_unix)[20883]: authentication failure; logname= uid=0 euid=0 tty=NODEVssh ruser= rhost=220-135-151-1.hinet-ip.hinet.net  user=root',
 'Jun 15 02:04:59 combo sshd(pam_unix)[20885]: authentication failure; logname= uid=0 euid=0 tty=NODEVssh ruser= rhost=220-135-151-1.hinet-ip.hinet.net  user=root',
 'Jun 15 02:04:59 combo sshd(pam_unix)[20886]: authentication failure; logname= uid=0 euid=0 tty=NODEVssh ruser= rhost=220-135-151-1.hinet-ip.hinet.net  user=root',
 'Jun 15 02:04:59 combo sshd(pam_unix)[20892]: authentication failure; logname= uid=0 euid=0 tty=NODEVssh ruser= rhost=220-135-151-1.hinet-ip.hinet.net  user=root',
 'Jun 15 02:04:59 combo sshd(pam_unix)[20893]: authentication failure; logname= uid=0 euid=0 tty=NODEVssh ruser= rhost=220-135-151-1.hinet-ip.hinet.net  user=root']

In [35]:
len(logtext)

214486

In [37]:
for line in logtext.split('\n')[0:10]:
    if 'authentication failure' in line:
        print(line.split())

['Jun', '14', '15:16:01', 'combo', 'sshd(pam_unix)[19939]:', 'authentication', 'failure;', 'logname=', 'uid=0', 'euid=0', 'tty=NODEVssh', 'ruser=', 'rhost=218.188.2.4']
['Jun', '14', '15:16:02', 'combo', 'sshd(pam_unix)[19937]:', 'authentication', 'failure;', 'logname=', 'uid=0', 'euid=0', 'tty=NODEVssh', 'ruser=', 'rhost=218.188.2.4']
['Jun', '15', '02:04:59', 'combo', 'sshd(pam_unix)[20882]:', 'authentication', 'failure;', 'logname=', 'uid=0', 'euid=0', 'tty=NODEVssh', 'ruser=', 'rhost=220-135-151-1.hinet-ip.hinet.net', 'user=root']
['Jun', '15', '02:04:59', 'combo', 'sshd(pam_unix)[20884]:', 'authentication', 'failure;', 'logname=', 'uid=0', 'euid=0', 'tty=NODEVssh', 'ruser=', 'rhost=220-135-151-1.hinet-ip.hinet.net', 'user=root']
['Jun', '15', '02:04:59', 'combo', 'sshd(pam_unix)[20883]:', 'authentication', 'failure;', 'logname=', 'uid=0', 'euid=0', 'tty=NODEVssh', 'ruser=', 'rhost=220-135-151-1.hinet-ip.hinet.net', 'user=root']
['Jun', '15', '02:04:59', 'combo', 'sshd(pam_unix)[20885]:', 'authentication', 'failure;', 'logname=', 'uid=0', 'euid=0', 'tty=NODEVssh', 'ruser=', 'rhost=220-135-151-1.hinet-ip.hinet.net', 'user=root']
['Jun', '15', '02:04:59', 'combo', 'sshd(pam_unix)[20886]:', 'authentication', 'failure;', 'logname=', 'uid=0', 'euid=0', 'tty=NODEVssh', 'ruser=', 'rhost=220-135-151-1.hinet-ip.hinet.net', 'user=root']
['Jun', '15', '02:04:59', 'combo', 'sshd(pam_unix)[20892]:', 'authentication', 'failure;', 'logname=', 'uid=0', 'euid=0', 'tty=NODEVssh', 'ruser=', 'rhost=220-135-151-1.hinet-ip.hinet.net', 'user=root']
['Jun', '15', '02:04:59', 'combo', 'sshd(pam_unix)[20893]:', 'authentication', 'failure;', 'logname=', 'uid=0', 'euid=0', 'tty=NODEVssh', 'ruser=', 'rhost=220-135-151-1.hinet-ip.hinet.net', 'user=root']

In [ ]:
for line in logtext.split('\n')[0:10]:
    if 'authentication failure' in line:
        print(len(line.split(' ')))

In [39]:
for line in logtext.split('\n')[0:10]:
    if 'authentication failure' in line:
        print(line.split('rhost='))

['Jun 14 15:16:01 combo sshd(pam_unix)[19939]: authentication failure; logname= uid=0 euid=0 tty=NODEVssh ruser= ', '218.188.2.4 ']
['Jun 14 15:16:02 combo sshd(pam_unix)[19937]: authentication failure; logname= uid=0 euid=0 tty=NODEVssh ruser= ', '218.188.2.4 ']
['Jun 15 02:04:59 combo sshd(pam_unix)[20882]: authentication failure; logname= uid=0 euid=0 tty=NODEVssh ruser= ', '220-135-151-1.hinet-ip.hinet.net  user=root']
['Jun 15 02:04:59 combo sshd(pam_unix)[20884]: authentication failure; logname= uid=0 euid=0 tty=NODEVssh ruser= ', '220-135-151-1.hinet-ip.hinet.net  user=root']
['Jun 15 02:04:59 combo sshd(pam_unix)[20883]: authentication failure; logname= uid=0 euid=0 tty=NODEVssh ruser= ', '220-135-151-1.hinet-ip.hinet.net  user=root']
['Jun 15 02:04:59 combo sshd(pam_unix)[20885]: authentication failure; logname= uid=0 euid=0 tty=NODEVssh ruser= ', '220-135-151-1.hinet-ip.hinet.net  user=root']
['Jun 15 02:04:59 combo sshd(pam_unix)[20886]: authentication failure; logname= uid=0 euid=0 tty=NODEVssh ruser= ', '220-135-151-1.hinet-ip.hinet.net  user=root']
['Jun 15 02:04:59 combo sshd(pam_unix)[20892]: authentication failure; logname= uid=0 euid=0 tty=NODEVssh ruser= ', '220-135-151-1.hinet-ip.hinet.net  user=root']
['Jun 15 02:04:59 combo sshd(pam_unix)[20893]: authentication failure; logname= uid=0 euid=0 tty=NODEVssh ruser= ', '220-135-151-1.hinet-ip.hinet.net  user=root']

In [41]:
for line in logtext.split('\n')[0:10]:
    if 'authentication failure' in line:
        print(line.split('rhost=')[1].split()[0])

218.188.2.4
218.188.2.4
220-135-151-1.hinet-ip.hinet.net
220-135-151-1.hinet-ip.hinet.net
220-135-151-1.hinet-ip.hinet.net
220-135-151-1.hinet-ip.hinet.net
220-135-151-1.hinet-ip.hinet.net
220-135-151-1.hinet-ip.hinet.net
220-135-151-1.hinet-ip.hinet.net

### Excercise
- Find logs with 'authentication failure'
- Collect the 'rhost' values (host addressses) as list them together with the appropriate month, day, and hour values in the following was: each row should look like:   
      - month day hour host_address

Many more on the numpy homepage [https://numpy.org/](https://numpy.org/)

<details><summary><b>Click here for the solution</b></summary>
    
```python
with open('Linux_2k.log', 'r') as f:
    for line in f:
        if 'authentication failure' in line:
            line = " ".join(line.split()) # get rid of all (including double) whitespaces and link each element with a single whitespace
            month = line.split(' ')[0]
            day = line.split(' ')[1]
            hour = line.split(' ')[2].split(':')[0]
            host = line.split('rhost=')[1].split(' ')[0]
            print(month, day, hour, host)
```

</details>

In [44]:
with open('Linux_2k.log', 'r') as f:
    for line in f:
        if 'authentication failure' in line:
            line = " ".join(line.split()) # get rid of all (including double) whitespaces and link each element with a single whitespace
            month = line.split(' ')[0]
            day = line.split(' ')[1]
            hour = line.split(' ')[2].split(':')[0]
            host = line.split('rhost=')[1].split(' ')[0]
            print(month, day, hour, host)

Jun 14 15 218.188.2.4
Jun 14 15 218.188.2.4
Jun 15 02 220-135-151-1.hinet-ip.hinet.net
Jun 15 02 220-135-151-1.hinet-ip.hinet.net
Jun 15 02 220-135-151-1.hinet-ip.hinet.net
Jun 15 02 220-135-151-1.hinet-ip.hinet.net
Jun 15 02 220-135-151-1.hinet-ip.hinet.net
Jun 15 02 220-135-151-1.hinet-ip.hinet.net
Jun 15 02 220-135-151-1.hinet-ip.hinet.net
Jun 15 02 220-135-151-1.hinet-ip.hinet.net
Jun 15 02 220-135-151-1.hinet-ip.hinet.net
Jun 15 02 220-135-151-1.hinet-ip.hinet.net
Jun 15 12 218.188.2.4
Jun 15 12 218.188.2.4
Jun 15 12 218.188.2.4
Jun 15 12 218.188.2.4
Jun 15 12 218.188.2.4
Jun 15 12 218.188.2.4
Jun 15 12 218.188.2.4
Jun 15 12 218.188.2.4
Jun 15 12 218.188.2.4
Jun 15 12 218.188.2.4
Jun 15 12 218.188.2.4
Jun 15 12 218.188.2.4
Jun 15 14 061092085098.ctinets.com
Jun 15 14 061092085098.ctinets.com
Jun 15 14 061092085098.ctinets.com
Jun 15 14 061092085098.ctinets.com
Jun 15 14 061092085098.ctinets.com
Jun 15 14 061092085098.ctinets.com
Jun 15 14 061092085098.ctinets.com
Jun 15 14 061092085098.ctinets.com
Jun 15 14 061092085098.ctinets.com
Jun 15 14 061092085098.ctinets.com
Jun 15 20 d211-116-254-214.rev.krline.net
Jun 15 20 d211-116-254-214.rev.krline.net
Jun 15 20 d211-116-254-214.rev.krline.net
Jun 15 20 d211-116-254-214.rev.krline.net
Jun 15 20 d211-116-254-214.rev.krline.net
Jun 17 19 211.46.224.253
Jun 18 01 adsl-70-242-75-179.dsl.ksc2mo.swbell.net
Jun 18 01 adsl-70-242-75-179.dsl.ksc2mo.swbell.net
Jun 18 01 adsl-70-242-75-179.dsl.ksc2mo.swbell.net
Jun 18 01 adsl-70-242-75-179.dsl.ksc2mo.swbell.net
Jun 18 01 adsl-70-242-75-179.dsl.ksc2mo.swbell.net
Jun 18 01 adsl-70-242-75-179.dsl.ksc2mo.swbell.net
Jun 18 01 adsl-70-242-75-179.dsl.ksc2mo.swbell.net
Jun 18 01 adsl-70-242-75-179.dsl.ksc2mo.swbell.net
Jun 18 01 adsl-70-242-75-179.dsl.ksc2mo.swbell.net
Jun 18 01 adsl-70-242-75-179.dsl.ksc2mo.swbell.net
Jun 20 09 65.166.159.14
Jun 20 09 65.166.159.14
Jun 20 09 65.166.159.14
Jun 20 09 65.166.159.14
Jun 20 09 65.166.159.14
Jun 20 09 65.166.159.14
Jun 20 09 65.166.159.14
Jun 20 09 65.166.159.14
Jun 20 09 65.166.159.14
Jun 20 09 65.166.159.14
Jun 21 08 217.60.212.66
Jun 21 08 217.60.212.66
Jun 21 08 217.60.212.66
Jun 21 08 217.60.212.66
Jun 21 08 217.60.212.66
Jun 21 08 217.60.212.66
Jun 22 03 n219076184117.netvigator.com
Jun 22 03 n219076184117.netvigator.com
Jun 22 03 n219076184117.netvigator.com
Jun 22 03 n219076184117.netvigator.com
Jun 22 03 n219076184117.netvigator.com
Jun 22 03 n219076184117.netvigator.com
Jun 22 03 n219076184117.netvigator.com
Jun 22 03 n219076184117.netvigator.com
Jun 22 03 n219076184117.netvigator.com
Jun 22 03 n219076184117.netvigator.com
Jun 22 03 n219076184117.netvigator.com
Jun 22 03 n219076184117.netvigator.com
Jun 22 03 n219076184117.netvigator.com
Jun 22 03 n219076184117.netvigator.com
Jun 22 03 n219076184117.netvigator.com
Jun 22 03 n219076184117.netvigator.com
Jun 22 03 n219076184117.netvigator.com
Jun 22 03 n219076184117.netvigator.com
Jun 22 03 n219076184117.netvigator.com
Jun 22 03 n219076184117.netvigator.com
Jun 22 03 n219076184117.netvigator.com
Jun 22 03 n219076184117.netvigator.com
Jun 22 03 n219076184117.netvigator.com
Jun 22 04 ip-216-69-169-168.ip.secureserver.net
Jun 22 04 ip-216-69-169-168.ip.secureserver.net
Jun 22 04 ip-216-69-169-168.ip.secureserver.net
Jun 22 04 ip-216-69-169-168.ip.secureserver.net
Jun 22 04 ip-216-69-169-168.ip.secureserver.net
Jun 22 04 ip-216-69-169-168.ip.secureserver.net
Jun 22 04 ip-216-69-169-168.ip.secureserver.net
Jun 22 04 ip-216-69-169-168.ip.secureserver.net
Jun 22 04 ip-216-69-169-168.ip.secureserver.net
Jun 22 04 ip-216-69-169-168.ip.secureserver.net
Jun 23 01 209.152.168.249
Jun 23 01 209.152.168.249
Jun 23 01 209.152.168.249
Jun 23 01 209.152.168.249
Jun 23 01 209.152.168.249
Jun 23 01 209.152.168.249
Jun 23 01 209.152.168.249
Jun 23 01 209.152.168.249
Jun 23 01 209.152.168.249
Jun 23 01 209.152.168.249
Jun 23 02 200.60.37.201
Jun 23 23 218.22.3.51
Jun 23 23 218.22.3.51
Jun 23 23 218.22.3.51
Jun 23 23 218.22.3.51
Jun 23 23 218.22.3.51
Jun 23 23 218.22.3.51
Jun 23 23 218.22.3.51
Jun 23 23 218.22.3.51
Jun 23 23 218.22.3.51
Jun 25 04 massive.merukuru.org
Jun 25 04 massive.merukuru.org
Jun 25 04 massive.merukuru.org
Jun 25 04 massive.merukuru.org
Jun 25 04 massive.merukuru.org
Jun 25 04 massive.merukuru.org
Jun 25 04 massive.merukuru.org
Jun 25 04 massive.merukuru.org
Jun 25 04 massive.merukuru.org
Jun 25 04 massive.merukuru.org
Jun 27 08 troi.bluesky-technologies.com
Jun 27 08 troi.bluesky-technologies.com
Jun 27 08 troi.bluesky-technologies.com
Jun 27 08 troi.bluesky-technologies.com
Jun 27 08 troi.bluesky-technologies.com
Jun 28 08 61.53.154.93
Jun 28 08 61.53.154.93
Jun 28 08 61.53.154.93
Jun 28 08 61.53.154.93
Jun 28 08 61.53.154.93
Jun 28 08 61.53.154.93
Jun 28 08 61.53.154.93
Jun 28 08 61.53.154.93
Jun 28 08 61.53.154.93
Jun 28 20 62-192-102-94.dsl.easynet.nl
Jun 28 20 62-192-102-94.dsl.easynet.nl
Jun 28 20 62-192-102-94.dsl.easynet.nl
Jun 28 20 62-192-102-94.dsl.easynet.nl
Jun 28 20 62-192-102-94.dsl.easynet.nl
Jun 28 20 62-192-102-94.dsl.easynet.nl
Jun 28 20 62-192-102-94.dsl.easynet.nl
Jun 28 20 62-192-102-94.dsl.easynet.nl
Jun 28 20 62-192-102-94.dsl.easynet.nl
Jun 28 20 62-192-102-94.dsl.easynet.nl
Jun 28 21 211.115.206.155
Jun 28 21 211.115.206.155
Jun 28 21 211.115.206.155
Jun 28 21 211.115.206.155
Jun 28 21 211.115.206.155
Jun 29 10 csnsu.nsuok.edu
Jun 29 10 csnsu.nsuok.edu
Jun 29 10 csnsu.nsuok.edu
Jun 29 10 csnsu.nsuok.edu
Jun 29 10 csnsu.nsuok.edu
Jun 29 10 csnsu.nsuok.edu
Jun 29 10 csnsu.nsuok.edu
Jun 29 10 csnsu.nsuok.edu
Jun 29 10 csnsu.nsuok.edu
Jun 29 10 csnsu.nsuok.edu
Jun 29 12 h64-187-1-131.gtconnect.net
Jun 29 12 h64-187-1-131.gtconnect.net
Jun 29 12 h64-187-1-131.gtconnect.net
Jun 29 12 h64-187-1-131.gtconnect.net
Jun 29 12 h64-187-1-131.gtconnect.net
Jun 29 12 h64-187-1-131.gtconnect.net
Jun 29 12 h64-187-1-131.gtconnect.net
Jun 29 12 h64-187-1-131.gtconnect.net
Jun 29 12 h64-187-1-131.gtconnect.net
Jun 29 12 h64-187-1-131.gtconnect.net
Jun 29 12 h64-187-1-131.gtconnect.net
Jun 29 12 h64-187-1-131.gtconnect.net
Jun 29 12 h64-187-1-131.gtconnect.net
Jun 30 12 biblioteka.wsi.edu.pl
Jun 30 12 biblioteka.wsi.edu.pl
Jun 30 12 biblioteka.wsi.edu.pl
Jun 30 12 biblioteka.wsi.edu.pl
Jun 30 12 biblioteka.wsi.edu.pl
Jun 30 12 biblioteka.wsi.edu.pl
Jun 30 12 biblioteka.wsi.edu.pl
Jun 30 12 biblioteka.wsi.edu.pl
Jun 30 19 60.30.224.116
Jun 30 19 60.30.224.116
Jun 30 19 60.30.224.116
Jun 30 19 60.30.224.116
Jun 30 19 60.30.224.116
Jun 30 19 60.30.224.116
Jun 30 19 60.30.224.116
Jun 30 19 60.30.224.116
Jun 30 19 60.30.224.116
Jun 30 19 60.30.224.116
Jun 30 20 195.129.24.210
Jun 30 20 195.129.24.210
Jun 30 20 195.129.24.210
Jun 30 20 195.129.24.210
Jun 30 20 195.129.24.210
Jul 1 00 60.30.224.116
Jul 1 00 60.30.224.116
Jul 1 00 60.30.224.116
Jul 1 00 60.30.224.116
Jul 1 00 60.30.224.116
Jul 1 00 60.30.224.116
Jul 1 00 60.30.224.116
Jul 1 00 60.30.224.116
Jul 1 00 60.30.224.116
Jul 1 00 60.30.224.116
Jul 1 10 195.129.24.210
Jul 1 10 195.129.24.210
Jul 1 10 195.129.24.210
Jul 1 10 195.129.24.210
Jul 1 10 195.129.24.210
Jul 1 10 195.129.24.210
Jul 1 10 195.129.24.210
Jul 1 10 195.129.24.210
Jul 1 10 195.129.24.210
Jul 1 10 195.129.24.210
Jul 2 04 zummit.com
Jul 2 04 zummit.com
Jul 2 04 zummit.com
Jul 2 04 zummit.com
Jul 2 04 zummit.com
Jul 2 04 zummit.com
Jul 2 04 zummit.com
Jul 2 04 zummit.com
Jul 2 04 zummit.com
Jul 2 04 zummit.com
Jul 4 09 210.76.59.29
Jul 4 09 210.76.59.29
Jul 4 09 210.76.59.29
Jul 4 19 220.117.241.87
Jul 4 19 220.117.241.87
Jul 4 19 220.117.241.87
Jul 4 19 220.117.241.87
Jul 4 19 220.117.241.87
Jul 4 19 220.117.241.87
Jul 4 19 220.117.241.87
Jul 4 19 220.117.241.87
Jul 4 19 220.117.241.87
Jul 4 19 220.117.241.87
Jul 4 19 220.117.241.87
Jul 4 19 220.117.241.87
Jul 4 19 220.117.241.87
Jul 5 13 210.229.150.228
Jul 5 13 210.229.150.228
Jul 5 13 210.229.150.228
Jul 5 13 210.229.150.228
Jul 5 13 210.229.150.228
Jul 6 02 218.16.122.48
Jul 6 02 218.16.122.48
Jul 6 02 218.16.122.48
Jul 6 02 218.16.122.48
Jul 6 02 218.16.122.48
Jul 7 14 c9063558.virtua.com.br
Jul 7 14 c9063558.virtua.com.br
Jul 7 14 c9063558.virtua.com.br
Jul 7 14 c9063558.virtua.com.br
Jul 8 20 212.0.132.20
Jul 8 20 212.0.132.20
Jul 8 20 212.0.132.20
Jul 8 20 212.0.132.20
Jul 9 19 p15105218.pureserver.info
Jul 9 19 p15105218.pureserver.info
Jul 9 19 p15105218.pureserver.info
Jul 9 19 p15105218.pureserver.info
Jul 9 19 p15105218.pureserver.info
Jul 9 19 p15105218.pureserver.info
Jul 9 19 p15105218.pureserver.info
Jul 9 19 p15105218.pureserver.info
Jul 9 19 p15105218.pureserver.info
Jul 9 19 p15105218.pureserver.info
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 150.183.249.110
Jul 10 16 211.214.161.141
Jul 10 16 211.214.161.141
Jul 10 16 211.214.161.141
Jul 10 16 211.214.161.141
Jul 10 16 211.214.161.141
Jul 10 16 211.214.161.141
Jul 10 16 211.214.161.141
Jul 10 16 211.214.161.141
Jul 10 16 211.214.161.141
Jul 10 16 211.214.161.141
Jul 11 03 82.77.200.128
Jul 11 03 82.77.200.128
Jul 11 03 82.77.200.128
Jul 11 03 82.77.200.128
Jul 11 03 82.77.200.128
Jul 11 03 82.77.200.128
Jul 11 03 82.77.200.128
Jul 11 03 82.77.200.128
Jul 11 03 82.77.200.128
Jul 11 03 82.77.200.128
Jul 11 11
Jul 11 17 211.137.205.253
Jul 11 17 211.137.205.253
Jul 11 17 211.137.205.253
Jul 11 17 211.137.205.253
Jul 11 17 211.137.205.253
Jul 11 17 211.137.205.253
Jul 11 17 211.137.205.253
Jul 11 17 211.137.205.253
Jul 11 17 211.137.205.253
Jul 11 17 211.137.205.253
Jul 12 06 68.143.156.89.nw.nuvox.net
Jul 12 06 68.143.156.89.nw.nuvox.net
Jul 12 06 68.143.156.89.nw.nuvox.net
Jul 12 06 68.143.156.89.nw.nuvox.net
Jul 12 06 68.143.156.89.nw.nuvox.net
Jul 12 06 68.143.156.89.nw.nuvox.net
Jul 12 06 68.143.156.89.nw.nuvox.net
Jul 12 06 68.143.156.89.nw.nuvox.net
Jul 12 06 68.143.156.89.nw.nuvox.net
Jul 12 06 68.143.156.89.nw.nuvox.net
Jul 14 14 202-132-40-29.adsl.ttn.net
Jul 14 14 202-132-40-29.adsl.ttn.net
Jul 14 15 202-132-40-29.adsl.ttn.net
Jul 14 15 202-132-40-29.adsl.ttn.net
Jul 14 15 202-132-40-29.adsl.ttn.net
Jul 14 15 202-132-40-29.adsl.ttn.net
Jul 14 15 202-132-40-29.adsl.ttn.net
Jul 14 15 202-132-40-29.adsl.ttn.net
Jul 15 01 c51471f2c.cable.wanadoo.nl
Jul 15 01 c51471f2c.cable.wanadoo.nl
Jul 15 01 c51471f2c.cable.wanadoo.nl
Jul 15 01 c51471f2c.cable.wanadoo.nl
Jul 15 01 c51471f2c.cable.wanadoo.nl
Jul 15 01 c51471f2c.cable.wanadoo.nl
Jul 15 01 c51471f2c.cable.wanadoo.nl
Jul 15 01 c51471f2c.cable.wanadoo.nl
Jul 15 01 c51471f2c.cable.wanadoo.nl
Jul 15 01 c51471f2c.cable.wanadoo.nl
Jul 17 10 61-220-159-99.hinet-ip.hinet.net
Jul 17 10 61-220-159-99.hinet-ip.hinet.net
Jul 17 10 61-220-159-99.hinet-ip.hinet.net
Jul 18 23 211-76-104-65.ebix.net.tw
Jul 18 23 211-76-104-65.ebix.net.tw
Jul 18 23 211-76-104-65.ebix.net.tw
Jul 18 23 211-76-104-65.ebix.net.tw
Jul 18 23 211-76-104-65.ebix.net.tw
Jul 18 23 211-76-104-65.ebix.net.tw
Jul 18 23 211-76-104-65.ebix.net.tw
Jul 18 23 211-76-104-65.ebix.net.tw
Jul 18 23 211-76-104-65.ebix.net.tw
Jul 18 23 211-76-104-65.ebix.net.tw
Jul 19 07 202.181.236.180
Jul 19 07 202.181.236.180
Jul 19 07 202.181.236.180
Jul 19 07 202.181.236.180
Jul 19 07 202.181.236.180
Jul 19 07 202.181.236.180
Jul 19 07 202.181.236.180
Jul 19 07 202.181.236.180
Jul 19 07 202.181.236.180
Jul 19 07 202.181.236.180
Jul 20 23 218.55.234.102
Jul 20 23 218.55.234.102
Jul 20 23 218.55.234.102
Jul 20 23 218.55.234.102
Jul 20 23 218.55.234.102
Jul 21 01 210.76.59.29
Jul 21 01 210.76.59.29
Jul 21 01 210.76.59.29
Jul 21 01 210.76.59.29
Jul 21 15 193.110.106.11
Jul 21 15 193.110.106.11
Jul 23 11 85.44.47.166
Jul 23 20 211.9.58.217
Jul 23 20 211.9.58.217
Jul 23 20 211.9.58.217
Jul 23 20 211.9.58.217
Jul 23 20 211.9.58.217
Jul 23 20 211.9.58.217
Jul 23 20 211.9.58.217
Jul 23 20 211.9.58.217
Jul 23 20 211.9.58.217
Jul 23 20 211.9.58.217
Jul 24 08 203.251.225.101
Jul 24 08 203.251.225.101
Jul 24 08 203.251.225.101
Jul 24 08 203.251.225.101
Jul 24 08 203.251.225.101
Jul 26 07 207.243.167.114
Jul 26 07 207.243.167.114
Jul 26 07 207.243.167.114
Jul 26 07 207.243.167.114
Jul 26 07 207.243.167.114
Jul 26 07 207.243.167.114
Jul 26 07 207.243.167.114
Jul 26 07 207.243.167.114
Jul 26 07 207.243.167.114
Jul 26 07 207.243.167.114
Jul 26 07 207.243.167.114
Jul 26 07 207.243.167.114
Jul 26 07 207.243.167.114
Jul 26 07 207.243.167.114
Jul 26 07 207.243.167.114
Jul 26 07 207.243.167.114
Jul 26 07 207.243.167.114
Jul 26 07 207.243.167.114
Jul 26 07 207.243.167.114
Jul 26 07 207.243.167.114
Jul 26 07 207.243.167.114
Jul 26 07 207.243.167.114
Jul 26 07 207.243.167.114